<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wisesaver</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/londinium-theme.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/sfyGrid.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/charts/sparkline.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/forms/uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/inputmask.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/autosize.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/inputlimit.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/listbox.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/multiselect.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/validate.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/tags.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/switch.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/forms/uploader/plupload.full.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/uploader/plupload.queue.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/forms/wysihtml5/toolbar.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/interface/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/fancybox.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/moment.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/jgrowl.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/colorpicker.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/fullcalendar.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/interface/collapsible.min.js"></script>

    <script type="text/javascript" src="~/Content/js/plugins/charts/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/charts/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/charts/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/charts/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins/charts/jqplot.pieRenderer.min.js"></script>

    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/application.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
</head>

<body class="sidebar-wide">

    <!-- Navbar -->
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/logo.png" alt="SFY Glass"></a>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
                    <span class="sr-only">Toggle navbar</span>
                    <i class="icon-grid3"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="icon-paragraph-justify2"></i>
                </button>
            }
        </div>

        <ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">

            @if (User.Identity.IsAuthenticated)
            {

                <li class="user dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                       <!-- <img src="http://placehold.it/300" />-->
                        <span>@User.Identity.Name</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right icons-right">
                        <!--
                        <li><a href="#"><i class="icon-user"></i>Profile</a></li>
                        <li><a href="#"><i class="icon-bubble4"></i>Messages</a></li>
                        <li><a href="#"><i class="icon-cog"></i>Settings</a></li>
                            -->
                        @if (User.IsInRole("Administrador"))
                        {
                            <li><a href="@Url.Action("Register", "Accounts")"><i class="icon-user-plus"></i>Register</a></li>
                        }
                        <li><a href="@Url.Action("Logoff", "Accounts")"><i class="icon-exit"></i>Logout</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Login", "Accounts", new { returnurl = Url.Action("Index", "Home") })">Logon</a>
                </li>
            }
        </ul>
    </div>
    <!-- /navbar -->


    <!-- Page container -->
    <div class="page-container sidebar-hidden">


        <!-- Sidebar -->
        <div class="sidebar collapse">
            <div class="sidebar-content">

                <!-- User dropdown -->
                @if (User.Identity.IsAuthenticated)
                {

                    <div class="user-menu dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<img src="http://placehold.it/300">-->
                            <div class="user-info">
                                @User.Identity.Name
                            </div>
                        </a>
                        <!--
                        <div class="popup dropdown-menu dropdown-menu-right">

                            <div class="thumbnail">
                                <div class="thumb">
                                    <img src="http://placehold.it/300">
                                    <div class="thumb-options">
                                        <span>
                                            <a href="#" class="btn btn-icon btn-success"><i class="icon-pencil"></i></a>
                                            <a href="#" class="btn btn-icon btn-success"><i class="icon-remove"></i></a>
                                        </span>
                                    </div>
                                </div>

                                <div class="caption text-center">
                                    <h6>@User.Identity.Name <small></small></h6>
                                </div>
                            </div>
                        </div>
                            -->
                    </div>

                    <!-- /user dropdown -->
                }
                <!-- Main navigation -->
                <ul class="navigation">
                    <li class="active"><a href="@Url.Action("Index", "Home")"><span>Dashboard</span> <i class="icon-screen2"></i></a></li>
                    <li class="active"><a href="@Url.Action("TodayInsta", "Home")"><span>Today's Instagram</span> <i class="icon-instagram"></i></a></li>
                    <li class="active"><a href="@Url.Action("Index", "DesStore")"><span>Stores</span> <i class="icon-home5"></i></a></li>
                    <li class="active"><a href="@Url.Action("KPI", "Home")"><span>KPI</span> <i class="icon-stats"></i></a></li>
                </ul>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /sidebar -->
        <!-- Page content -->

        <div class="page-content">

            @RenderBody()



        </div>
        <!-- /page content -->


    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="footer col-xs-offset-1  clearfix">
        <div class="pull-left">&copy; 2014. SFY Glass</div>

    </div>
    <!-- /footer -->
</body>
</html>
