<h1>wisesaver</h1>



<a class="btn" href="@Url.Action("Logout","Home")">Logout</a>

<h4>Send messages to glass</h4>

<a class="btn" href="@Url.Action("Welcome", "Cards")">Welcome</a>
<a class="btn" href="@Url.Action("Charge", "Cards")">Visa Charge</a>
<a class="btn" href="@Url.Action("Congrats", "Cards")">Congrats</a>
<a class="btn" href="@Url.Action("Tomorrow", "Cards")">Bad Day</a>